.music{
    background-color: rgba(255, 255, 255, 0.973);
    clip-path: polygon(50% 5%, 100% 0, 100% 100%, 50% 100%, 0 100%, 0% 0);
    @include atMedium{
        clip-path: polygon(50% 12%, 100% 0, 100% 100%, 0 100%, 0 0);
    }
    &__header{
        padding-top: 0rem;  
        text-align: center;
    }
}

@keyframes titleAnimate{
    from{
        width: 0;
        opacity: 0;
    }
    to{
        width: 8rem;
        opacity: 1;
    }
}