.navigation {
  text-align: center;
  position: relative;

  //burger button
  &__button {
    background-color: rgba(219, 219, 219, 0.527);
    height: 3rem;
    width: 3rem;
    position: fixed;
    top: 1rem;
    left: 1rem;
    z-index: 2000;
    box-shadow: $shadow;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    @include atSmall {
      height: 5rem;
      width: 5rem;
    }
  }
  &__icon {
    position: relative;
    margin-top: 1.5rem;
    box-shadow: $shadow;
    @include atSmall {
      margin-top: 2.5rem;
    }
    &,
    &::before,
    &::after {
      height: 3px;
      width: 2rem;
      display: inline-block;
      background-color: rgb(218, 125, 125);
      @include atSmall {
        width: 3rem;
      }
    }
    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all 0.2s;
    }
    &::before {
      top: -0.8rem;
    }
    &::after {
      top: 0.8rem;
    }
  }
  &__checkbox {
    display: none;
  }

  //background
  &__background {
    background-image: linear-gradient(
      270deg,
      rgba(226, 163, 184, 0.459) 40%,
      rgba(143, 140, 140, 0.6) 60%
    );
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0rem;
    left: 0rem;
    z-index: 500;
    opacity: 0;
    transition: all 0.5s;
    visibility: hidden;
  }

  //sidebar
  &__nav {
    background-color: rgba(46, 61, 57, 0.76);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    z-index: 1000;
    transition: all 0.5s cubic-bezier(0.78, 0.36, 0.54, 1.15);
    text-align: center;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  &__heart {
    font-size: 2.5rem;
    color: $mainColor;
    margin-bottom: 2.3rem;
    @include atSmall {
      font-size: 5rem;
    }
    @include atMedium {
      font-size: 6rem;
    }
  }
  &__list {
    margin-top: 8rem;
    list-style: none;
    text-align: center;
    transition: all 0.5s;
    transition: width 0.5s cubic-bezier(0.78, 0.36, 0.55, 1.48);
    @include atMedium {
      margin-top: 10rem;
    }
  }
  &__item {
    width: 60%;
    font-size: 2rem;
    font-weight: 500;
    font-family: "Allerta Stencil", sans-serif;
    letter-spacing: 0.5rem;
    border-bottom: 0.05rem solid rgb(236, 187, 187);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    display: inline-block;
    @include atSmall {
      font-size: 3rem;
    }
    @include atMedium {
      font-size: 4rem;
      font-weight: 700;
      margin-bottom: 1rem;
    }
  }
  &__link {
    &:link,
    &:visited {
      position: relative;
      display: inline-block;
      text-decoration: none;
      text-transform: uppercase;
      padding: 0.2rem 1.2rem;
      margin-bottom: 1rem;
      transition: all 0.5s;
      background-image: linear-gradient(
        120deg,
        transparent 0%,
        transparent 50%,
        rgb(89, 187, 146) 20%
      );
      background-size: 230%;
      @include atSmall {
        padding: 1rem 1.2rem;
      }
    }
    &:hover,
    &:active {
      box-shadow: $shadow;
      background-position: 100%;
      transform: translateY(1rem) scale(1.1);
    }
  }
  //footer
  &__footer {
    text-align: center;
    letter-spacing: 0.5rem;
    &__title {
      font-family: "Caveat", cursive;
      font-size: 5rem;
      transition: all 0.5s;
      margin: 1rem 0 0 0;
      padding: 1rem 0 2rem 0;
      @include atSmall {
        font-size: 8rem;
      }
      @include atMedium {
        font-size: 10rem;
        padding-top: 10rem;
      }
    }
    &__subtitle {
      font-size: 1.5rem;
      @include atSmall {
        font-size: 2rem;
      }
    }
    &__media {
    }
    &__list {
      list-style: none;
    }
    &__item {
      font-size: 2rem;
      display: inline-block;
      padding: 0.8rem;
      @include atSmall {
        font-size: 2.45rem;
      }
      @include atSmall {
        font-size: 3rem;
      }
    }
    &__link {
      color: $mainColor;
      transition: all 0.5s;
      &--ins:hover {
        color: rgb(236, 65, 236);
      }
      &--weixin:hover {
        color: greenyellow;
      }
      &--weibo:hover {
        color: rgb(161, 70, 70);
      }
    }
    &__copyright {
      margin-top: 3rem;
      font-size: 0.8rem;
      @include atSmall {
        font-size: 1rem;
      }
      @include atMedium {
        font-size: 1.2rem;
      }
    }
  }

  //functionality
  &__button:hover &__icon::before {
    top: -1rem;
  }
  &__button:hover &__icon::after {
    top: 1rem;
  }
  &__checkbox:checked ~ &__nav {
    visibility: visible;
    width: 20rem;
    opacity: 1;
    display: block;
    @include atSmall {
      width: 30rem;
    }
    @include atMedium {
      width: 40rem;
    }
  }
  &__checkbox:checked + &__button &__icon {
    background-color: transparent;
  }
  &__checkbox:checked + &__button &__icon::before {
    top: 0;
    transform: rotate(45deg);
  }
  &__checkbox:checked + &__button &__icon::after {
    top: 0;
    transform: rotate(-45deg);
  }
  &__checkbox:checked ~ &__background {
    opacity: 1;
    visibility: visible;
  }
}
