.box1{
    width: 100%;
    height: auto;
    background-color: blanchedalmond;
    float: left;
    overflow: hidden;
    transition: width 0.4s ease;
    position: fixed;
    z-index: -9999;
    @include atSmall{
  
    }
    @include atMedium{
      position: relative;
      z-index: 0;
    }
    @include atLarge{
      height: 1000px;
      width: 40%;
    }
  }
  
  .carousel-item__image{
    width: 100%;
    height: 500px;
    @include atLarge{
      height: 1000px;
    }
  }
  .carousel-item__image img{
    width: 100%;
  }