// Linear Text
.lineartext-pink-dark {
  color: transparent;
  background-image: linear-gradient(
    to right,
    rgb(199, 147, 221),
    rgb(184, 74, 93)
  );
  background-clip: text;
}
.lineartext-pink {
  color: transparent;
  background-image: linear-gradient(
    to right,
    rgb(220, 175, 243),
    rgb(231, 155, 168)
  );
  background-clip: text;
}

//Custome Scrollbar
.customeScrollbar {
  ::-webkit-scrollbar {
    width: 0.5rem;
  }
  ::-webkit-scrollbar-track {
    box-shadow: $shadow;
    border-radius: 1rem;
  }
  ::-webkit-scrollbar-thumb {
    background-image: linear-gradient(
      to bottom,
      rgb(237, 214, 248),
      rgb(255, 164, 179)
    );
    border-radius: 1rem;
  }
}

//Custome Containers
.container-1{
  max-width: 1800px;
  background-color: aquamarine;
  margin: 0;
  height: auto;
  @include atMedium{
    margin: 3rem auto 0 auto;
  }
}

